<div class="float-right pb-5">
  <%= button_to('Add Feedback', new_feedback_path, class: 'btn btn-primary', method: :get) %>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
  <tr>
    <td scope="col"><b>Date</b></td>
    <td scope="col"><b>Feedback</b></td>
  </tr>
  </thead>
  <tbody>
  <% @feedbacks.each_with_index do | feedback | %>
    <tr>
      <td scope="row"><%= feedback.created_at %></td>
      <td>
        <b><%= feedback.name %></b>
        <p><%= feedback.comment %></p>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
