<div class="row">
  <div class="col-6">
    <%= image_tag(@image.url) %>
  </div>
  <div class="col-6">
    <b>Image Tags:</b>
    <span id="tags"><%= @image.tag_list.map { |t| link_to t, images_path(tag: t) }.join(', ').html_safe %></span>
  </div>
</div>
